# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/
/build/

# production output
dist/
build/

# turborepo
.turbo/

# mdk specific
.molenda-setup
.env
.env.local
.env.*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# ide / agent
.agent/
.DS_Store
*.pem

# logs
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*